body {
  background-color : #22254b;
}
.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-container {
  width: 250px;
  margin: 16px;
  background-color : #373b69;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

.movie-container img {
  max-width:100%;
}

.movie-info {
  display : flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.movie-info h5{
  margin: 0;
}
.movie-info span{
  margin-left: 3px;
}

.overview {
  display: none; /* 초기에는 숨김 */
  position: absolute;
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
  overflow: hidden; /* 넘친 텍스트를 숨김 */
  text-overflow: ellipsis; /* 넘친 텍스트에 생략 부호 표시 */
  top: 100%; /* 부모 컨테이너 하단에 맞춤 */
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 10px 10px; /* 모서리만 둥글게 */
  z-index: 1; /* 다른 요소 위에 배치 */
}

.movie-container:hover .overview {
  display: block; /* 마우스가 올라갔을 때 표시 */
}